@theme {
  --color-foreground: #161616;
  --color-foreground-light: #384250;
  --color-foreground-muted: #6c737f;
  --color-foreground-secondary: #9da4ae;

  --color-background: #fff;
  --color-background-accent: #e8f6ef;
  --color-background-muted: #f9fafb;

  --color-accent: #1b8354;
  --color-accent-dark: #166a45;

  --color-success: #1b8354;
  --color-warning: #f5a623;
  --color-danger: #e7000b;

  --color-border: #e5e7eb;

  --font-heading: 'IBM Plex Sans Arabic', system-ui, sans-serif;
  --font-body: 'IBM Plex Sans Arabic', system-ui, sans-serif;

  --radius-base: 0.5rem;

  /*
  This does not show in the theme editor
  but is used to override the defaults based on the user's selection for radius-base
  */
  --radius-xs: calc(var(--radius-base) * 0.25);
  --radius-sm: calc(var(--radius-base) * 0.5);
  --radius-md: var(--radius-base);
  --radius-lg: calc(var(--radius-base) * 1.5);
  --radius-xl: calc(var(--radius-base) * 2);
  --radius-2xl: calc(var(--radius-base) * 3);
  --radius-3xl: calc(var(--radius-base) * 4);
  --radius-4xl: calc(var(--radius-base) * 5);
}
